<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 <!-- <h1>
    Welcome to {{ title }}!
  </h1>
  <div>
    <h3 *ngFor="let name of userList">
      {{name}}
    </h3>
  </div>
   <app-subject-example></app-subject-example>
  <app-subject-example1></app-subject-example1> -->

<router-outlet></router-outlet>
  <ul>
    <li>
      <a routerLink="employees">List</a>
    </li>
    <li>
      <a routerLink="employees/create">Create</a>
    </li>
    <li>
      <a href="http://google.com">Google</a>
    </li>
  </ul>

